<% include partials/_header %>
<div class="col-md-5">
  <div class="card">
    <div class="card-body">
<form action="/signin" method="POST">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <form action="">
    <input type="checkbox" name="administrador" value="Administrador">CONTENT
    <input type="checkbox" name="profesor" value="Profesor">CONTENT
    <input type="checkbox" name="alumno" value="Alumno">CONTENT
  </form>
  <button class="btn btn-primary" type="submit">
    SignIn
  </button>
</form>
</div>
</div></div>
<%if (signinMessage) {%>
  <p style="color:#FF0000;"><%= signinMessage %></p>
<% } %>
<% include partials/_footer %>